* {
  margin: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --claret: rgba(123, 8, 40, 1);
  --oxford-blue: rgba(1, 25, 54, 1);
  --champagne: rgba(243, 223, 193, 1);
  --persimmon: rgba(229, 88, 18, 1);
  --blue-transparent: rgba(1, 25, 54, 0.8);
}

header {
  background-color: var(--claret);
  padding: 10px 10px 3px 10px;
  color: var(--champagne);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score-div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: flex-end;
}

.score-div > span {
  padding: 0.5rem;
  background-color: var(--oxford-blue);
  max-width: fit-content;
  border-radius: 0.5rem;
  margin: 0.3rem;
}

.main-div {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));

  row-gap: 2rem;
  column-gap: 5rem;
  padding: 50px;
  font-size: 3rem;
  justify-content: center;
  background-color: var(--oxford-blue);
}

.card {
  background-color: var(--persimmon);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}

.card:hover {
  transform: scale(1.05);
}

.card-picture {
  height: 80%;
}

.card-name {
  font-size: 1.7rem;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 20%;
}

.message-container {
  min-height: 100%;
  min-width: 100%;
  background-color: var(--blue-transparent);

  position: fixed;
  top: 0;
  left: 0;
}

.message-container .message {
  padding: 90px;
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--claret);
  color: var(--persimmon);
  border-radius: 1rem;
  border: 6px dotted var(--oxford-blue);
}

.message > button {
  padding: 1rem;
  margin-top: 1rem;
  background-color: var(--champagne);
  color: var(--oxford-blue);
  font-size: 1.2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.message > button:hover {
  background-color: var(--persimmon);
}

@media (max-width: 1025px) {
  .main-div {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    column-gap: 2rem;
    padding: 3rem;
  }
}

@media (max-width: 600px) {
  .card-name {
    font-size: 1rem;
  }

  .main-div {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    column-gap: 1rem;
    padding: 2rem;
  }

  .message-container .message {
    padding: 5rem 3rem;
  }
}
